
<div class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

   <!-- header -->
    <app-header></app-header>
   <!-- /.header -->

   <!-- Navbar -->
    <app-navbar></app-navbar>
   <!--/. Navbar -->


   <!--changing part-->
    <router-outlet></router-outlet>
   <!--/.changing part-->


   <!--footer-->
    <footer class="main-footer">
     <app-footer></app-footer>
    </footer>
    <!--/.footer-->

   <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    </aside>
  <!-- /.control-sidebar -->

  
</div>
<!-- ./wrapper -->

<!-- jQuery -->

</div>



